Extern
__test
__trash

.vs

*.ncb
*.opensdf
*.sdf
#+easy with .suo
#*.suo

*.bsc
*.exe
*.ilk
*.map
*.pdb
*.idb

obj
ipch
Debug
Release
MfcRelease
*___Win32_MfcRelease
MfcDebug
*___Win32_MfcDebug
Distribute

bin

OBJDIR
.obj

Depend
Depend.bak

*.a
*.dll
*.lib
*.o
*.so
*.iobj
*.ipdb

db_r*
game_r*

db_symlink
game_symlink

pre_qc
*.pyc

*.bak
/.project

### archives
*.rar
*.7z
*.zip
*.gz
*.bz
*.xz
*.tar
*.tgz
*.tbz
*.txz
